<div class="row">
  <div class="card">
      <div class="card-content">

      <h1>Email Preferences</h1>
      <p class="lead">
        We don’t want to be annoying, but we do want to keep you updated about your design with us. Please let us know
        which kinds of communication you’d like to receive.
      </p>
      <p class="lead">
        <em>
        Note: If you opt-out of notifications from our team and your designer then you will no longer receive any
        notifications about the progress of your design.
      </em>
      </p>
      <%= render 'form' %>
      </div>
  </div>
</div>
