.sidebar,
.off-canvas-sidebar  {
  height: 1000px !important;
  right: 0 !important;
  left: inherit;
}
.sidebar .sidebar-wrapper,
.off-canvas-sidebar .sidebar-wrapper {
  height: auto;
  overflow-y: auto;
}


.main-panel {
  float: left;
  width: 100% !important;
  &.in {
    width: 100%;
  }
}
