<p>
  Thank you for sending us your idea. I know that this is a fairly small design and I just wanted to let you know that
  our quote is based on our shop minimum.  We understand that in some cases that might be expensive for the size of
  design.  If you feel the design is really small, then sometimes your best bet is to just walk into a shop and they
  will do the design on the spot as part of your tattoo.
</p>

<p>
  We really like your concept and I know we can do something amazing for you; based on the information you sent me in
  your e-mail I have quoted your design below. Let me explain how the process works for you based on your design size
  and complexity.
</p>
