<p>
  Thank you for sending us your tattoo sleeve idea. Our design team really likes your concept and I know we can do
  something amazing for you. Before we start your sleeve I wanted to let you know we only allow our senior tattoo
  artists and design team to work on tattoo sleeve designs. Tattoo sleeves take 30 - 40+ hours of drawing time to
  complete and we appreciate you trusting us with such a large and personal design. Let me tell you how our sleeve
  process works;
</p>
