<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>Hi <%= @request.first_name.try(:titleize) %>,</p>
<p>
  Thank you for deciding to work with Custom Tattoo Design! We put together this quick one page article so that you
  know exactly what to expect over the next few days. One of the best parts of working with Custom Tattoo Design is
  that we strive to keep you up to date and informed at all times, so you never have to worry about what’s happening
  with your design. Below is a brief description of the design process and exactly what you will receive once the
  process is complete. Again, we want to thank you for your business and to remind you that you can contact us
  anytime via live chat, phone or email as our customer service is open 24 hours a day.
</p>
<p>So you just made your deposit! Congrats and here is what you can expect over the following days:</p>
<ol>
  <li>
    Your design request is now in our queue system. Our art director Jen will review the size and complexity of your
    design and match you up with the best possible artist for your design needs. Depending on how busy we are and the
    availability of the appropriate artists for your design, this can take 3-5 business days. Don’t worry, we haven’t
    forgotten about you!
  </li>
  <li>
    Once your artist has been assigned they will email you personally prior to starting the design. This is a good time
    to let them know if you have any more thoughts, changes to your original design description, or ideas to discuss
    before starting your initial sketch. They may have some simple questions about the exact location of the design or
    how you would like to see it laid out.
  </li>
  <li>
    Once your initial sketch is ready we send them over to our graphic design team. This can take anywhere from 1-24
    hours. The graphic designer will watermark the design and send you a link where you can view your design privately.
    <ul>
      <li>
        Note: Once you see your initial sketch please contact your artist directly with any changes or thoughts you
        might have. This is the time for any major revisions; if you want to change the layout, add elements, or if you
        want to go in a different direction altogether. If you love the direction your design is going, please just let
        your artist know to continue to the next step.
      </li>
    </ul>
  </li>
  <li>
    After you have approved a sketch and asked your artist to move to the final shaded version of the design you will
    see a more complete and detailed version. It is at this time that you would make any minor changes, as the design is
    nearly complete. Again, be sure to communicate with your artist so that you’re happy with everything in the design.
    If you need help explaining your ideas or you have any questions regarding the artwork, our art director is always
    available to help.
  </li>
  <li>
    Ok so you love the design, now what? Please let your artist know that the design is perfect; at this point your
    artist will contact us to send you the final payment link. Once you make the final payment we will send you all of
    the items listed below directly to your email. This process can take up to 24 hours as the design team will convert
    your design to High Definition.
  </li>
</ol>

<p>What to expect with your final Custom Tattoo Design! </p>

<ul>
  <li>A fully detailed version of your dream design in High Definition available to print and resize as you wish.</li>
  <li>Certificate of Authenticity: We provide you the copyrights for this design; we cannot and will not resell or
    redistribute your design idea. This is your original tattoo for life.
  </li>
</ul>

<p>Things to keep in mind:</p>

<ol>
  <li>Remember, each piece of artwork is custom and can take 10-50 hours depending on the size and complexity. Your
    artist is committed to making sure that you absolutely love the design! Please be sure to communicate clearly with
    your artist so they can create the design to your specifications. (Additional revisions can be purchased through
    customer service if absolutely necessary).
  </li>
  <li>Check your Junk Mail: Depending on your email settings, your artist’s initial email or the link to view your
    sketches may end up in your junk folder. This is not usually an issue, however, please be sure to take a look if you
    feel that no one has contacted you in some time.
  </li>
  <li>Money Back Guarantee: We will refund 100% of your deposit if you are unsatisfied with your initial sketch. You can
    learn more about our <a href="http://customtattoodesign.ca/money-back-guarantee/">Money Back Guarantee</a> here.
  </li>

  <li>Customer Service: We pride ourselves on amazing customer service. If, for any reason, you are not happy or you
    need to communicate with a manager, please just send our customer service manager a request at
    <a href="mailto:KaylaMckee@customtattoodesign.ca?subject=Let's talk about my tattoo design">KaylaMckee@customtattoodesign.ca</a>
  </li>
</ol>

<p>We truly appreciate your business and look forward to working with you. We can’t wait to help you turn your dream
  into reality!</p>

<p>
  Lee Roller<br/>
  CEO / Founder<br/>
  Custom Tattoo Design
</p>
</body>
</html>
