<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi,</p>

<p>I see that we have completed your final design.  I think the final product looks great and I wanted to personally say thank you for your business and your time!</p>

<p>Now that you are ready to get your tattoo, I thought you might want some advice on where to go and what to expect when you walk into a shop with your design.  I have attached a quick one page summary with suggestions for choosing a tattoo artist and tips for taking care of your new tattoo.</p>

<p><%= @request.first_name %>, I am really passionate about my business and I always ask everyone that finishes a design with us for their comments and ideas.  If you have any feedback for me to improve the business or the customer experience, I would really appreciate hearing from you. If you had a great experience and are open to sending me a testimonial, I would be extremely grateful!</p>

<p>Finally, I wanted to let you know that we offer a discount and a loyalty gift to repeat customers. Around 20% of our clients come back for another design and we also have a solid amount of referrals to friends and family. In either case, whether you would like to pursue another design with us in the future, or if you send us a referral, I will mail you a free tattoo aftercare kit (normally priced for $40). Please just email me or the team with your name and your original design image, along with your new submission, and we will take care of it for you.</p>

<p>Again, I really appreciate your business and I hope you had a great experience with us! I look forward to hearing from you again,</p>

<p>Custom Tattoo Design</p>

</body>
</html>