<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi,</p>

<p>
  I see that we completed your final design. I think the final product looks great and I wanted to personally say thank
  you for your business and your time.
</p>

<p>
  I am really passionate about my business and I like to ask everyone that finishes a design with us for their comments
  and any feedback they might have to help improve the business and/or customer experience. If you had a great
  experience and are open to sending me a testimonial, I would be extremely grateful.
</p>

<p>
  Again, I really appreciate your business and I hope you had a great experience with us! I look forward to hearing
  from you again. Also, please be sure to check out our brand new sister company <a href="https://temporary.ink/?utm_source=ctd&utm_medium=email&utm_campaign=thank-you">Temporary Ink</a>, we are quickly becoming
  the world leader in Temporary Tattoos. <a href="https://temporary.ink/?utm_source=ctd&utm_medium=email&utm_campaign=thank-you">temporary.ink</a>
</p>

<p>
  Feel free to contact me anytime,
</p>

<p>
  Lee Roller
  CEO/ Founder
  Custom Tattoo Design
</p>

</body>
</html>
