<h3>Sorry to see you go!</h3>
<p>
  You will no longer receive any marketing emails from us.  Please don't hesitate to contact us if you have any questions.
</p>
<p>Lee Roller <<a href="mailto:leeroller@customtattoodesign.ca">leeroller@customtattoodesign.ca</a>> </p>
<p>
  <a href="javascript:window.close();">Close this tab.</a>
</p>
