<p id="notice"><%= notice %></p>
<table class="table" data-toggle="table" data-pagination="true" data-side-pagination="server"
       data-url="requests.json" data-page-list="[10, 20, 50]" data-search="true" id="request-table"
       data-show-refresh="true" data-id-field="id">
  <thead>
    <tr>
      <th data-field="user.id"></th>
      <th data-field="user.email">From</th>
      <th data-field="is_first_time" data-formatter="firstFormatter"></th>
      <th data-field="gender"></th>
      <th data-field="has_color" data-formatter="colorFormatter"></th>
      <th data-field="position">Position</th>
      <th data-formatter="cartButtons"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
