<p>Hello again <%= @request.first_name.titleize %>,</p>

<p>
  I hope your experience with us Custom Tattoo design has been great so far. We send a 2 minute survey out to all our
  customers which ranks there experience on a scale of 1-5 stars. It’s important to us that you’re happy, not only with
  the process but with our staff. If you have any reason why you wouldn’t think we are worthy a 5 star review; Please
  let me know and I will do everything I can to make your experience better.
</p>
<p>
  Please feel free to contact me anytime,
</p>

<p>
  Kayla Mckee<br/>
  Customer Service Manager<br/>
  Custom Tattoo Design
</p>
