
<p>Hi <%= @request.first_name.try(:titleize) %>,</p>

<p>
  We’ve hired on some amazing new artists and I wanted to let you know. If you’re interested in getting a design by
  one of my new top designers, let me know and I’ll make sure to hook you up.
</p>
<p>
  If you want to change the initial design idea you sent over just fill out the FREE QUOTE form again and I’ll have
  the design team look at it ASAP.
</p>

<p>Thank you for your time again,</p>

<p>
  Brittany Greenhill<br/>
  Sales Manager<br/>
  Custom Tattoo Design
</p>
