<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Hi <%= @request.first_name.titleize %>,</p>
  <p>
    I noticed you were on our site and you sent us a design request for a free quote.  Whether it was price, timing or
    something we did you decided not to do your design with us.  If you don't mind letting me know what’s keeping you
    from working with us, I will do my best to help you.  I'm so passionate about my business and each customer that I
    want to make sure I have done everything I can to help.
  </p>
  <p>
    Please let me know if you have any suggestions or if there is anything you feel I can do to help earn your business.
  </p>
  <p>
    Feel free to use my personal email below to respond so I can do my best make our business and your experience better.
  </p>
  <br/>
  <p>
    I appreciate your time and look forward to hearing from you,
  </p>
  <br>
  <p>
    Lee Roller<br/>
    CEO / Founder<br/>
    Custom Tattoo Design<br/>
    <a href="mailto:leeroller@customtattoodesign.ca">leeroller@customtattoodesign.ca</a>
  </p>

</body>
</html>
