<p>Hi <%= @request.first_name.try(:titleize) %>,</p>
<p>
  I noticed you were on our site and you sent us a design request for a quote. I’m passionate about my business and I
  want to make sure I have done everything I can to help each customer.
</p>
<p>
  We understand that times are tough right now and we are all in this together. Our team would love to help you with
  your design request so at this time, we are offering a 20% discount for any customers who choose to get started on
  their design over the next two weeks.
</p>
<p>
  If you would like to get a discount code, just reply to this email and our sales team is ready to help you out. If
  you’ve chosen not to work with us for any other reason, please let us know so that I can ensure we do whatever we
  need to to make this business and your experience better.
</p>
<br/>
<p>
  I appreciate your time and look forward to hearing from you,
</p>
<br>
<p>
  Lee Roller<br/>
  CEO / Founder<br/>
  Custom Tattoo Design<br/>
  <a href="mailto:leeroller@customtattoodesign.ca">leeroller@customtattoodesign.ca</a>
</p>
