<p>
  Hi <%= @request.first_name.try(:titleize) %>,
</p>

<p>
  I saw that you submitted a request for a free tattoo design quote, but haven't made your deposit to start your custom
  tattoo design. Please let me know if you have any questions or if there is anything I can do to help you with your
  decision.
</p>

<p>
  Thank you for your time,
</p>

<p>
  Lee Roller<br/>
  CEO / Founder<br/>
  Custom Tattoo Design<br/>
  <a href="mailto:leeroller@customtattoodesign.ca">leeroller@customtattoodesign.ca</a>
</p>

