<p>Hello again <%= @request.first_name.try(:titleize) %>,</p>
<p>
  Just wanted to give you a quick update on Custom Tattoo Design. Our whole family here is growing rapidly and people
  are going crazy about our new team.
</p>

<p>Thank you for your time and feel free to contact me if you have any questions.</p>

<p>
  Brittany Greenhill<br/>
  Sales Manager<br/>
  Custom Tattoo Design
</p>

