<div class="card card-raised">
  <div class="card-content">


<p id="notice"><%= notice %></p>
    <div class="table-condensed">

<table class="table table-sales small" data-toggle="table" data-pagination="true" data-side-pagination="server"
       data-url="requests.json" data-page-list="[25, 50]" data-search="true" id="request-table"
       data-show-refresh="true" data-id-field="id">
  <thead>
    <tr>
      <th data-field="created_at" data-formatter="dateFormatter" class="hidden-xs"></th>
      <th data-field="id"></th>
      <th data-field="user" data-formatter="userFormatter" class="td-actions"></th>
      <th data-field="is_first_time" data-formatter="firstFormatter" class="hidden-xs">1<sup>st</sup></th>
      <th data-field="gender"  class="hidden-xs text-center">Sex</th>
      <th data-field="has_color" data-formatter="colorFormatter" class="td-actions text-center hidden-xs">Color?</th>
      <th data-field="has_cover_up" data-formatter="coverFormatter" class="text-center hidden-xs"></th>
      <th data-field="position" class="hidden-xs text-center">Position</th>
      <th data-field="images" data-formatter="imagesFormatter">Images</th>
      <!--th data-field="cliend_id" data-formatter="isNullFormatter" class="text-center hidden-xs">GID</th-->
      <th data-field="last_visited_at" data-formatter="visitedFormatter" class="text-center hidden-xs">Seen?</th>
      <th data-field="deposit_order_id" data-formatter="depositedFormatter" class="text-center hidden-xs">Paid?</th>
      <th data-formatter="cartButtons" class=" td-actions">
        <div class="row">
          <div class="col-md-5">
            <button class="btn btn-xs btn-show-options btn-default btn-block" data-user-id="" data-email="" data-client-id=""
                    data-linker-param="" data-class="deposit" data-ga="">Deposit</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
          <button class="btn btn-xs btn-show-options btn-default btn-block" data-user-id="" data-email="" data-client-id=""
                  data-linker-param="" data-class="final" data-ga="">Final</button>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
    </div>
  </div>

</div>
