<p id="notice"><%= notice %></p>
<table class="table" data-toggle="table" data-pagination="true" data-side-pagination="server"
       data-url="requests.json" data-page-list="[25, 50]" data-search="true" id="request-table"
       data-show-refresh="true" data-id-field="id">
  <thead>
    <tr>
      <th data-field="created_at" data-formatter="dateFormatter"></th>
      <th data-field="id" data-formatter="hideButton"></th>
      <th data-field="user" data-formatter="userFormatter"></th>
      <th data-field="is_first_time" data-formatter="firstFormatter">1<sup>st</sup></th>
      <th data-field="gender">Sex</th>
      <th data-field="has_color" data-formatter="colorFormatter">Color?</th>
      <th data-field="has_cover_up" data-formatter="coverFormatter"></th>
      <th data-field="position">Position</th>
      <th data-field="cliend_id" data-formatter="isNullFormatter">GID</th>
      <th data-field="last_visited_at" data-formatter="visitedFormatter">Seen?</th>
      <th data-formatter="cartButtons">
        <div class="row">
          <div class="col-md-5">
            <button class="btn btn-xs btn-show-options btn-default btn-block" data-user-id="" data-email="" data-client-id=""
                    data-linker-param="" data-class="deposit" data-ga="">Blank Deposit</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
          <button class="btn btn-xs btn-show-options btn-default btn-block" data-user-id="" data-email="" data-client-id=""
                  data-linker-param="" data-class="final" data-ga="">Blank Final</button>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>
