<tr>
  <th class=" text-left"><%= title %></th>
  <th class=" text-center"></th>
  <th class=" text-center"></th>
  <th class="text-center bg-gray"><span class="glyphicon glyphicon-envelope"></span></th>
  <th class="text-center bg-gray"><span class="glyphicon glyphicon-eye-open"></span></th>
  <th class="text-center bg-gray"><span class="glyphicon glyphicon-chevron-up"></span></th>
  <th class="text-center"><span class="glyphicon glyphicon-envelope"></span></th>
  <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span></th>
  <th class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></th>
  <th class="text-center bg-gray"><span class="glyphicon glyphicon-envelope"></span></th>
  <th class="text-center bg-gray"><span class="glyphicon glyphicon-eye-open"></span></th>
  <th class="text-center bg-gray"><span class="glyphicon glyphicon-chevron-up"></span></th>
  <th class="text-center"><span class="glyphicon glyphicon-envelope"></span></th>
  <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span></th>
  <th class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></th>
</tr>