<div class="row">
  <div class="card">
    <div class="card-header">
      <h2 class="title">Email Statistics</h2>
    </div>
    <div class="card-content table-responsive">
      <table class="table">
        <thead class="text-danger">
        <tr>
          <th colspan="3"></th>
          <th colspan="3" class="text-center  bg-gray">Today</th>
          <th colspan="3" class="text-center">Yesterday</th>
          <th colspan="3" class="text-center bg-gray">2 days ago</th>
          <th colspan="3" class="text-center">3 days ago</th>
        </tr>
        <tr>
          <th class=" text-left">Email</th>
          <th class=" text-center">States</th>
          <th class=" text-center">Days</th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-chevron-up"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center bg-gray"><span class="glyphicon glyphicon-chevron-up"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-envelope"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></th>
        </tr>
        </thead>
        <tbody>
          <% MarketingEmail.not_quotes.order("email_type desc", :state, :days_after_state_change).each do |email| %>
            <%= render partial: "admin/email_statistics/statistic", locals: { email: email, label: email.template_name }%>
          <% end %>

          <% box_mailer_types_without_marketing_email.each do |template_name| %>
            <%= render partial: "admin/email_statistics/statistic",
                       locals: { email: MarketingEmail.new(mailer_method: template_name), label: template_name }%>
          <% end %>

          <% if current_salesperson.admin? %>
            <% MarketingEmail.quotes.each do |email| %>
              <%= render partial: "admin/email_statistics/statistic", locals: { email: email, label: email.template_name }%>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
