


<!DOCTYPE html>

<html>
<head>
    <title>
        CTD Quote
    </title><link href="http://dev.benefitos.com/ctdwebv2/img/favicon.png?v=2" rel="shortcut icon" type="image/png" /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <meta name="description" content="Do you have a great tattoo design idea? Work with the best tattoo designers in the world now! Get started on your tattoo design today." />

    <!-- Add fancyBox -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</head>
<body>

<!-- Google Tag Manager -->
<!--noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KPS6QS"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
                new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KPS6QS');</script-->
<!-- End Google Tag Manager -->


<form method="post" action="./startdesign.aspx" id="form1">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="cfwRHhA2jZ7AvAQg5SXzY0GkMQxw7juxHFQKbC0+QC3QMzgJ1Z3RsdB7gUWKO7c333z4XQ2S9b+kB8DWxgfro+C9pP6bL4Z0ajEbR5GbKaGSnNYXze7x30vjZth6geJwwAZslUhjS2+CkWSojLlXCyEnH9KbohkvI6VU8isCdRzf+8toogyb7d+NegPrl4dHfZAnAWpxilySHyUoGsqTCa/uQio6HwPVjSUZ6kBIf8rtdWTLt4REfZ7AkHERJN8A6bvLSecWr09lRO1k7nX2Ohn6ptsr4AueE5lt0ieQDK49vlcCgl3JxweBsBtaIXs5P3fT+NTJurqerIMZNZLGeivj0U7FtSDlGmUz/B5rxfyRnUg0IUjvcd5wsBf5vsuH" />
    </div>

    <div class="aspNetHidden">

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="D5EAC5B4" />
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="gV4lEtVjyAhyLCJn6B0OpsCa3I43oAHbpcC6fgObkk4bXxApPyOpZIAaxt4r+/b7vCr8I3U6CnaVxuoOyDcqRuSBZHvTNKW1Up+62NuzrZMnuikMrWhOnbaCIpAGbPiZ5bRVQOGaron70FebGc/q+b4lceArQXaH5Kyo5Yymcl88IBCKxYeKos6uhwfxurWU2qK7mtCMUn7ACf7aFiA0WBcdRBdnoaX9HvZZTNZpBmgh+69cO2/2BOBt4q1bThKoJWp0SpaHJMOkC0KWaFll8OE07E7xBYuKxrLM1+muquQbYs0sntZ08mETTGkCHNl6PLpMAwHSnw5DHWaKJKqNtzkB5A3AiHkk+2Vc3MrzrDPdxhlm6N45JWqhQJm3/ejB" />
    </div>

    <div class="container">
        <header>
            <nav class="navbar navbar-default navbar-static-top" style="text-shadow: 2px 2px #000000;">

                <div class="navbar-header">
                    <button id="mobilenavbarbutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="../../../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/turbolinks-2.5.3/lib/assets/javascripts" id="linkHome">HOME</a></li>
                        <li><a href="howitworks.aspx">HOW IT WORKS</a></li>
                        <li><a href="gallery.aspx">TATTOO GALLERY</a></li>
                        <li><a href="pricing.aspx">PRICING</a></li>
                        <li><a href="blogs.aspx">BLOG</a></li>
                        <li style="border: solid 3px #FFFFFF; margin-top: -3px;" id="linkContact"><a href="contact.aspx">CONTACT</a></li>
                        <li class="hidden-sm hidden-xs"><a href="javascript:;">&nbsp;</a></li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
                <div class="clearfix"></div>

            </nav>

        </header>


        <div class="pagecontainer" style="margin-top: -96px; float: left; width: 100%;">



            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



                </div>
            </div>

            <div id="startdesigndiv" class="row"></div>

            <div id="captureform" class="row topmargin20 bottommargin20">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <h3 id="formTop" class="nomargintop">Send Us Your Design Idea! All Quotes Are Free With No Obligation</h3>
                    <p class="topmargin10 bottommargin20">Start by sending us your design idea. No matter where you live, how big or small your tattoo design idea, we can help.</p>

                    <div class="clearfix"></div>

                    <div id="pageerror" class="alert alert-danger display-none"></div>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottommargin20">
                            <div id="inpFirstNameError" class="alert alert-danger display-none"></div>
                            <input name="ctl00$PageBody$inpFirstName" type="text" id="inpFirstName" class="form-control" placeholder="First Name" value="Wojtek" />
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottommargin20">
                            <div id="inpLastNameError" class="alert alert-danger display-none"></div>
                            <input name="ctl00$PageBody$inpLastName" type="text" id="inpLastName" class="form-control" placeholder="Last Name" value="Grabski" />
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottommargin20">
                            <div id="inpEmailAddressError" class="alert alert-danger display-none"></div>
                            <input name="ctl00$PageBody$inpEmailAddress" type="text" id="inpEmailAddress" class="form-control" placeholder="Email"  value="wojtek@grabski.ca"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottommargin20">
                            <div id="inpEmailAddressVerifyError" class="alert alert-danger display-none"></div>
                            <input name="ctl00$PageBody$inpEmailAddressVerify" type="text" id="inpEmailAddressVerify" class="form-control" placeholder="Verfiy email" value="wojtek@grabski.ca" />
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            First Tattoo?
                            <div id="firsttattooError" class="alert alert-danger display-none"></div>
                            <div class="bottommargin20 width100">
                                <input value="No" name="ctl00$PageBody$firsttattoo" type="radio" id="firstno" />
                                <label for="firstno" onclick="">No</label>

                                <input value="Yes" name="ctl00$PageBody$firsttattoo" type="radio" id="firstyes" />
                                <label for="firstyes" onclick="">Yes</label>

                                <a></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            Gender?
                            <div id="genderError" class="alert alert-danger display-none"></div>
                            <div class="bottommargin20 width100">
                                <input value="Male" name="ctl00$PageBody$gender" type="radio" id="gendermale" checked="checked"/>
                                <label for="gendermale" onclick="">Male</label>

                                <input value="Female" name="ctl00$PageBody$gender" type="radio" id="genderfemale" />
                                <label for="genderfemale" onclick="">Female</label>

                                <a></a>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            Do you want color?
                            <div id="incolorError" class="alert alert-danger display-none"></div>
                            <div class="bottommargin20 width100">
                                <input value="No" name="ctl00$PageBody$incolor" type="radio" id="colorno" />
                                <label for="colorno" onclick="">No</label>

                                <input value="Yes" name="ctl00$PageBody$incolor" type="radio" id="coloryes" />
                                <label for="coloryes" onclick="">Yes</label>

                                <a></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        </div>

                    </div>

                    <div id="inpPositionError" class="alert alert-danger display-none"></div>
                    <select name="ctl00$PageBody$inpPosition" id="inpPosition" class="form-control bottommargin20">
                        <option selected="selected" value="" disabled="disabled" class="italic">Position On Body</option>
                        <option value="Calf">Calf</option>
                        <option value="Chest">Chest</option>
                        <option value="Foot">Foot</option>
                        <option value="Fore Arm">Fore Arm</option>
                        <option value="Full Back">Full Back</option>
                        <option value="Full Sleeve">Full Sleeve</option>
                        <option value="Half Sleeve">Half Sleeve</option>
                        <option value="Leg">Leg</option>
                        <option value="Lower Back">Lower Back</option>
                        <option value="Ribs">Ribs</option>
                        <option value="Stomach">Stomach</option>
                        <option value="Upper Arm">Upper Arm</option>
                        <option value="Upper Back">Upper Back</option>
                        <option value="Lower Arm">Lower Arm</option>
                        <option value="Hip">Hip</option>
                        <option value="Wrist">Wrist</option>
                        <option value="Ankle">Ankle</option>
                        <option value="Other">Other</option>
                    </select>

                    <div id="inpDescriptionError" class="alert alert-danger display-none"></div>
                    <textarea name="ctl00$PageBody$inpDescription" id="inpDescription" class="form-control bottommargin20" rows="10" placeholder="Please send us the best description you can of how you would like your tattoo to look.  It’s ok to send us a theme or the feelings behind the design; it’s our job to make it into something amazing for you."></textarea>

                    <div class="bottommargin30">
                        Send us any reference images you might have!
                        <input id="fileuploader" type="file" multiple="multiple" />
                    </div>


                    <button type="button" id="doSubmit" class="btn btn-primary btn-block btn-lg topmargin20 bottommargin20 blackbackground">SUBMIT</button>

                    <p class="topmargin30">
                        If you have any questions or concerns filling out your design idea contact our customer service manager at <a href="mailto:carmelle@customtattoodesign.ca">carmelle@customtattoodesign.ca</a>
                    </p>

                    <div class="clearfix"></div>



                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <div class="embed-responsive embed-responsive-16by9">
                    </div>

                    <h3>Lee Roller / Founder of Custom Tattoo Design</h3>
                    <p>My name is Lee Roller, as the original founder of Custom Tattoo Design I cannot stress enough how much I love the service this business provides and the amazing people I have been able to work with. One of the most rewarding aspects of creating custom tattoos comes from being a part of the amazing stories our customers share through their tattoo design ideas. I am personally involved with each customer and their design; it’s my priority to make sure everyone’s design is perfect. I hope you’ll allow us the opportunity to help you bring your tattoo design idea to life.</p>

                    <div class="clearfix"></div>

                    <div class="row topmargin10">



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 topmargin20">
                            <a class="fancybox" rel="group" href="img/gallery1.jpg"></a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a class="fancybox" rel="group" href="img/gallery2.jpg"></a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a class="fancybox" rel="group" href="img/gallery3.jpg"></a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a class="fancybox" rel="group" href="img/gallery4.jpg"></a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a class="fancybox" rel="group" href="img/gallery5.jpg"></a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a class="fancybox" rel="group" href="img/gallery6.jpg"></a>
                        </div>

                        <div class="clearfix"></div>
                    </div>


                </div>

            </div>

            <div class="row topmargin20 bottommargin20">



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <h2 class="blue" id="faqs">FREQUENTLY ASKED QUESTIONS</h2>

                    <ol class="ollist">


                        <li>
                            <a href="#faq1" data-toggle="collapse">What do I receive when I purchase a Custom Tattoo Design?</a>
                            <div id="faq1" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    Custom Tattoo Design is truly unique; we offer an amazing service that includes:
                                    <ul class="topmargin10" style="list-style-type: square;">
                                        <li>24/7 Customer Service</li>
                                        <li>Your Own Design Team; we allow you 100% input throughout the design process,</li>
                                        <li>Full scale artwork in presentation format including sketches and Final Product in HD.</li>
                                        <li>Graphic layover (giving you the ability to see the image on your skin prior to receiving it).</li>
                                        <li>Certificate of authenticity releasing any copy rights. (Some Tattoo shops will want to see a release on artwork if it’s custom).</li>

                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq2" data-toggle="collapse">What guarantee do I have if I use your services?</a>
                            <div id="faq2" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    100% Money Back Guarantee: Once you make your deposit we don’t ask you for any future commitment.  After you see your initial Sketches you can choose then to walk away and we will refund your deposit. You also have 2 other great choices; request a new artist or continue with your design <strong>(95% completion rate at CTD)</strong> where you can request any changes you might have. If you love the way the design is going, just let your artist know to continue to the next stage and get ready for an amazing final design. In the end we want you to be ecstatic and tell everyone about your Custom Tattoo Design.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq3" data-toggle="collapse">What if I live in another country or city?</a>
                            <div id="faq3" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    Custom Tattoo Design works with people all over the world. By working with our customers primarily online we can send designs to anywhere in the world instantly.  Don’t let distance keep you from working with us on your next Custom Tattoo Design.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq4" data-toggle="collapse">How do I pay?</a>
                            <div id="faq4" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    You can either pay by credit card or PayPal. Here are the cards we accept:
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                        </div>
                                    </div>

                                    If you have any questions regarding payments, please contact us our customer service manager at: <a style="word-wrap: break-word;" href="mailto:carmelle@customtattoodesign.ca">carmelle@customtattoodesign.ca</a>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                        <li>
                            <a href="#faq5" data-toggle="collapse">When Do I Pay?</a>
                            <div id="faq5" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    When your design is quoted for your given the deposit amount necessary to start your design; you will also receive a link where you can make your payment.   The deposit lets the design team and artist know that you’re serious about starting a design.  Once the deposit is made your design idea is placed in our system and an artist will contact you shortly. Remember we offer a money back guarantee until you have seen you design.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq6" data-toggle="collapse">What if I live in another country or city?</a>
                            <div id="faq6" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    Custom Tattoo Design works with people all over the world. By working with our customers primarily online we can send designs to anywhere in the world instantly.  Don’t let distance keep you from working with us on your next Custom Tattoo Design.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq7" data-toggle="collapse">Is the art Truly Custom?</a>
                            <div id="faq7" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    We pride ourselves on being a completely custom service; each piece is started from scratch with the input of the client and the artist. We do hours of research and use combinations of references from the client, web and inspiration from around the world. No stencils here!
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq8" data-toggle="collapse">How do I get started on my own Custom Tattoo Design?</a>
                            <div id="faq8" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    The first step is filling out the contact form and sending us the description of your Custom tattoo design. It’s ok if you don’t have a specific idea or if you don’t have it planned to perfection; we will work with you to plan everything out from beginning to end. Once we receive your email we will custom quote you’re design and determine the correct size.  In a few minutes we will send you a follow up email with a link to the corresponding deposit page.  Once we quote your design and you make the appropriate deposit we will select the best artist for your design and have them contact you in 24-48hour depending on the size and complexity of the design. Your Custom Tattoo Designer will contact you with any questions they might have and you’re off!  You will work one on one until your design is perfect.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq9" data-toggle="collapse">How much will my custom design cost?</a>
                            <div id="faq9" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    All the design prices are broken down by size; Small, Medium, Large and XL. You can find the prices under the pricing tab and use them as a guideline. However every piece is ultimately custom priced based on the size and intricacy of the project. Once you send us your idea we can work with you to quote it and make sure it fits your budget. You have no obligation to purchase anything, all our quotes are free.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq10" data-toggle="collapse">How long will it take to finish my design?</a>
                            <div id="faq10" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    After you submit your design our artist/team will contact you to discuss layout, references and anything else they may need to get started. It will take roughly 2-3 days to get your working sketches finished. From here we will get your personal feedback and make any changes necessary to start on the final drafts. Medium and Large Designs are expected to take 3-5 business days however our goal is to create amazing custom designs. We do not promote mass production but rather make sure every customer is 100% satisfied; based on the size and amount of revisions we take however long is needed.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                        <li>
                            <a href="#faq11" data-toggle="collapse">Who will be designing my tattoo?</a>
                            <div id="faq11" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    Custom Tattoo Design has compiled the best talent from all over the world. Each Designer has their own strength, style and experience; we match you up with artists based on your Custom Tattoo Design needs. We have the top international tattoo artist from all around the world.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li>
                            <a href="#faq12" data-toggle="collapse">Is it possible to do any type or style of Design?</a>
                            <div id="faq12" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    Absolutely, we have talented artist who can tackle any project from photo realism to memorial pieces. The best thing you can do is send us your idea or ask us about your design and we will get back to you right away. We are also the only place in the world that designs large, XL and full sleeve designs.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                        <li>
                            <a href="#faq13" data-toggle="collapse">Can you help me with a cover up of a current tattoo?</a>
                            <div id="faq13" class="collapse">
                                <div class="well topmargin10 bottommargin10">
                                    Yes we can! Again this is a Custom issue, Please send us a request form and we will guide you through the process helping you with your cover piece. We will need one or several clear pictures of the current tattoo.
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                    </ol>

                </div>

            </div>

            <div class="modal fade" id="pleaseWaitDialog">
                <div class="modal-dialog modal-vertical-centered">
                    <div class="modal-contentNOBACKGROUND">

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <input name="ctl00$PageBody$requestToken" type="hidden" id="requestToken" value="6d22cebe-b458-4e50-8c98-681fbf7bdb04" />



        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <footer>

                <div class="clearfix"></div>

                <div class="row toppadding20">

                    <div class="col-lg-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

                        <div class="row">

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">

                                <h3>Follow Us</h3>

                                <a href="https://www.facebook.com/customtattoodesign18" target="_blank">Facebook</a><br />
                                <a href="https://twitter.com/CustomTatDesign" target="_blank">Twitter</a><br />
                                <a href="https://plus.google.com/+CustomtattoodesignCaTattooIdeas/posts" target="_blank">Google+</a><br />
                                <a href="https://instagram.com/customtattoodesign.ca/" target="_blank">Instagram</a><br />
                                <a href="https://www.youtube.com/channel/UCLZxPhgDB4QS3KGhndO5FVA" target="_blank">Youtube</a>



                                <div class="bottompadding20">&nbsp;</div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">

                                <h3>Help</h3>

                                <a href="startdesign.aspx#faqs">FAQs</a><br />
                                <a href="contact.aspx">Contact Us</a><br />
                                <a href="howitworks.aspx">How it Works</a><br />
                                <a href="pricing.aspx">Pricing</a><br />
                                <a href="javascript:;" id="linkSiteMap">Site map</a><br />
                                <a href="login.aspx">Admin</a>

                                <div class="bottompadding20">&nbsp;</div>

                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">

                                <h3>Get in Touch</h3>

                                <a href="blogs.aspx">Blog</a><br />
                                <a href="contact.aspx">Email Us</a><br />
                                <a href="javascript:;" style="text-decoration: none;">Call Us</a><br />
                                        <span class="white"><a href="tel:18665591162" class="blue">1-866-559-1162</a><br />
                                            FREE OF CHARGE</span>


                                <div class="bottompadding20">&nbsp;</div>


                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">

                                <h3 class="">Join Us</h3>

                                <a href="artistforhire.aspx">Artist for Hire</a><br />
                                <br />
                                <div class="width100">
                                    <button type="button" class="btn btn-lg btn-block btn-primary blackbackground blueborder" onclick="window.location.href='startdesign.aspx';">START YOUR<br />
                                        DESIGN</button>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="col-lg-1 hidden-md hidden-sm hidden-xs">&nbsp;</div>

                </div>



                <div class="row toppadding20 bottompadding50">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <span>Copyright &copy; 2015 Custom Tattoo Design, Inc.</span>
                    </div>

                </div>
            </footer>

        </div>

    </div>
</form>


<!-- Site Map Modal -->
<div id="SiteMap" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Site Map</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt><a href="#" id="sitemaphomelink">Home</a></dt>
                    <dd>Custom Tattoo Design Home page, where you can design custom tattoos online.</dd>
                    <dt><a href="howitworks.aspx">How it Works</a></dt>
                    <dd>Learn how you can make a Custom Tattoo Design and get tattoo design ideas.</dd>
                    <dt><a href="gallery.aspx">Tattoo Gallery</a></dt>
                    <dd>See amazing Custom Tattoo Designs and get great tattoo ideas for your next tattoo design.</dd>
                    <dt><a href="pricing.aspx">Pricing</a></dt>
                    <dd>Get a free quote and understand how Custom Tattoo Designs are priced.</dd>
                    <dt><a href="blogs.aspx">Blog</a></dt>
                    <dd>Read about the new products and stories from Custom Tattoo Design. Also get great tattoo ideas.</dd>
                    <dt><a href="contact.aspx">Contact</a></dt>
                    <dd>Get it touch with Custom Tattoo Design now. Check out our free tattoo chat service and free tattoo quote system.</dd>
                    <dt><a href="startdesign.aspx">Start Design</a></dt>
                    <dd>Start your next Custom Tattoo Design here. You can send us your tattoo design idea and get a free custom tattoo design quote.</dd>
                    <dt><a href="sleeves.aspx">Sleeves</a></dt>
                    <dd>Come to our Custom Tattoo Design sleeve page and get your free custom tattoo sleeve quote.</dd>
                    <dt><a href="artistforhire.aspx">Artist For Hire</a></dt>
                    <dd>Send us your tattoo artwork, we are always hiring artist to draw custom tattoo designs.</dd>
                </dl>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#linkSiteMap").click(function () {
            $("#SiteMap").modal('show');
        });

        $("dd").css("font-size", "80%");
        $("dd").css("padding-right", "20px");

        $(document).on("click", "span.close", function () {
            $(this).parent().slideUp();
        })

        $(this).bind('contextmenu', function (e) {
            return false;
        });

    })
</script>




<script type="text/javascript">


    $(document).ready(function () {



        if ($("#startdesignsuccess").length) {
            if ($("#startdesignsuccess").html() == "yes") {
                $("html, body").animate({ scrollTop: $("#startdesigndiv").offset().top }, "slow");
            }
        }



        $("#doSubmit").click(function () {

            var blnValid = true;



            $(".alert").hide();




//                document.forms[0].submit();






            return false;

        });

    })

</script>

<script>
  (function() {
    try {
      var getTrackerAttribute = function(trackingId, attr) {
        try {
          var trackers = ga.getAll();
          var i, len;
          for (i = 0, len = trackers.length; i < len; i += 1) {
            if (trackers[i].get('trackingId') === trackingId) {
              return trackers[i].get('clientId');
            }
          }
        } catch (e) {
        }
        return 'false';
      };

      var getClientId = function () {
        return getTrackerAttribute('UA-34117074-2', 'clientId');
      };

      var getLinkerParam = function () {
        return getTrackerAttribute('UA-34117074-2', 'linkerParam');
      };

      var setCookie = function (cname, cvalue, exdays, domain) {
        var d = new Date();
        if (typeof(domain)=='undefined') domain = '.customtattoodesign.ca';
        if (typeof(exdays)=='undefined') exdays = 365;
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires + ";domain="+domain+";path=/";
      };

      var getCookie = function (cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1);
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      };

      var QueryString = function () {
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (typeof query_string[pair[0]] === "undefined") {
            query_string[pair[0]] = decodeURIComponent(pair[1]);
          } else if (typeof query_string[pair[0]] === "string") {
            var arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
            query_string[pair[0]] = arr;
          } else {
            query_string[pair[0]].push(decodeURIComponent(pair[1]));
          }
        }
        return query_string;
      }();

      var getAndSetCookie = function (name, value) {
        if (typeof(value) == 'undefined') {
          value = getCookie(name);
        } else {
          setCookie(name, value);
        }

        return value;
      };

      var getCheckboxValue = function(_ids) {
        var _v = null;

        _ids.forEach( function(id) {
          var _el = document.getElementById(id);
          if (_el == null ) return;
          if (!_el.checked ) return;
          _v = _el.value;
        });
        return _v && _v || '';
      };

      var _init = function () {
        try {
          ga(function() {
            var trackers = ga.getAll();
            if(trackers.length) {
              var linkerParam = trackers[0].get('linkerParam');
              console.log(linkerParam);
            }
          });
          ga("set", "dimension1", getClientId());
          var uid = getAndSetCookie('uid', QueryString.uid);
          ga('set', '&uid', uid);
          getAndSetCookie('qid', QueryString.qid);
        }catch(e){}
      };
      var linkerParam;

      var ready = function () {
        _init();
        var _b = document.getElementById('doSubmit');
        _b.addEventListener( "click", function (e) {
          try {
            var _e = document.getElementById('inpEmailAddress').value,
                _ev = document.getElementById('inpEmailAddressVerify').value;
            if (_e !== _ev) return false;
            var _p = {
              email: _e,
              first_name: document.getElementById('inpFirstName').value,
              last_name: document.getElementById('inpLastName').value,
              position: document.getElementById('inpPosition').value,
              gender: getCheckboxValue( ['gendermale','genderfemale'] ),
              has_color: ( getCheckboxValue( [ 'coloryes', 'colorno' ] ) == 'Yes'),
              linker_param: getLinkerParam(),
              _ga: getCookie('_ga'),
              client_id: getClientId()
            };

            $.post('<%= CTD::APP_URL %>/public/new_request.json',_p,function (_r) {
                  var uid = getAndSetCookie('uid', _r.user_id);
                  ga('set', '&uid', uid);
                }, 'json'
            );

          } catch (e) {
          }
          return false;
        });
      };

      $(document).ready(ready);
    } catch (e) {
    }
  })();
</script>
</body>
</html>
