<div class="row">
  <div class="col text-center">
    <h4 class="text-muted">CUSTOM TATTOO SHOP</h4>
    <br>
    <h1 class="text-info">Taking you to your cart...</h1>

    <a class="btn btn-default btn-sm" id="redirectLink" href="<%= @url %>">click here if nothing happens</a>
  </div>
</div>
<h2></h2>
<script>
  <%= render partial: "analytics.js.erb", locals: { request: @request } %>
  <% unless Rails.env.development? %>
    setTimeout(function(){
      document.getElementById('redirectLink').click();
    }, 3000);
  <% end %>
</script>
