<div class="row">
  <div class="card">
      <div class="card-content">
      <h1>Thank you</h1>
      <p class="lead">
        You have been successfully removed from this list and won't receive any further emails from us.
      </p>
    </div>
  </div>
</div>
