<%-

unsub_path = opt_out_path(@request, params: {
  user_email: @request.user.email,
  user_token: @request.user.authentication_token
})

unsub_path.slice!("http://")

unsub_url = 'http://api.customtattodesign.ca/' + unsub_path

-%>
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= yield %>

<p>
  <em>
    Please <%= link_to 'click here', unsub_url %> if you do not wish to receive any more of our emails.
  </em>
</p>

</body>
